<div class="cointainer-fluid">

  <div class="modal fade" id="bedsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{beds.id>0?'Edit':'Add'}}  Bed</h5>
          <span class="text-danger float-right">All * fields are required.</span>
        </div>
        <div class="modal-body">

          <form #form ngNativeValidate>

            <div class="col-md-12 mt-4">
              <div class="row">

                <!--<div class="col-md-4">
    <label class="w-100">ID <small class="req">*</small></label>
    <input type="text" class="form-control form-control-sm" id="id"
           [ngModelOptions]="{standalone:true}" [(ngModel)]="bed.id">
  </div>-->

                <div class="col-md-6 mb-3">
                  <label class="">Patient Name <small class="req">*</small></label>
                  <input type="text" class="form-control form-control-sm" id="name"
                         [ngModelOptions]="{standalone:true}" [(ngModel)]="beds.name" required>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="w-100">Bed Number <small class="req">*</small></label>
                  <input type="number" class="form-control form-control-sm" required id="beds.no"
                         [ngModelOptions]="{standalone:true}" [(ngModel)]="beds.no">
                </div>
                <!--<div class="col-md-4">
                  <label class="w-100">numbe of bed <small class="req">*</small></label>
                  <input type="number" class="form-control form-control-sm" required id="numberofbed"
                         [ngmodeloptions]="{standalone:true}" [(ngmodel)]="beds.charges" (input)="calculatetotal($event)">
                </div>-->

              </div>
            </div>

            <div class="col-md-12">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <label class="w-100">Allocated From<small class="req">*</small></label>
                  <input type="date" class="form-control form-control-sm" id="allocatedFrom"
                         [ngModelOptions]="{standalone:true}" [(ngModel)]="beds.allocatedFrom" required [max]="today" >
                </div>


                <div class="col-md-4 mb-3">
                  <label class="w-100">Allocated To <small class="req">*</small></label>
                  <input type="date" class="form-control form-control-sm" id="alocatedTo" (change)="checkallocatedFrom($event.target.value)"
                         [ngModelOptions]="{standalone:true}" [(ngModel)]="beds.alocatedTo" [min]="today">
                  <span *ngIf="allocation_errorMessage" class="text-danger">Allocation To should not be less than Allocation From</span>
                </div>
              

                <div class="col-md-4 mb-3">
                  <label class="w-100">Status <small class="req">*</small></label>
                  <select class="form-control form-control-sm" [(ngModel)]="beds.status"
                          [ngModelOptions]="{standalone:true}" id="status" required>
                    <option value="">Select</option>
                    <option value="True">Available</option>
                    <option value="False">Unavailable</option>

                  </select>
                </div>
              </div>
            </div>

            <div class="btn-sm pr-4 mt-4 ml-2">
              <button class="btn btn-primary btn-sm p-2 text-center float-right" (click)="form.checkValidity()?save():null">
                Save
              </button> <button class="btn btn-dark btn-sm p-2 text-center float-right mr-3" data-dismiss="modal" aria-label="Close">
                Close
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
