<div class="container-fluid">


  <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">< {{user.id>0?'Edit':'Add'}} Add User</h5>
          <span class="text-danger float-right">All * fields are required.</span>
        </div>
        <div class="modal-body">

          <form #form ngNativeValidate>
            <div class="col-md-12">
              <div class="row">


                <div class="col-md-6 purple-border mb-3">
                  <label class="w-100">First Name <small class="req">*</small></label>
                  <input type="text" class="form-control" id="firstName" required
                         [ngModelOptions]="{standalone:true}" [(ngModel)]="user.firstName">

                </div>
                <div class="col-md-6 purple-border mb-3">
                  <label class="w-100">Last Name <small class="req">*</small></label>
                  <input type="text" class="form-control" id="lastName" required
                         [ngModelOptions]="{standalone:true}" [(ngModel)]="user.lastName">

                </div>

              </div>
            </div>
            <div class="col-md-12">
              <div class="row">

                <div class="col-md-6 mb-3">
                  <label class="w-100">Email  <small class="req">*</small></label>
                  <input type="email" class="form-control form-control-sm" required
                         id="email" [ngModelOptions]="{standalone:true}" [(ngModel)]="user.email">
                </div>
                <div class="col-md-6 mb-3">
                  <label class="w-100">Role <small class="req">*</small></label>
                  <select class="form-control form-control-sm" id="role" required
                          [ngModelOptions]="{standalone:true}" [(ngModel)]="user.role">
                    <option *ngFor="let role of roles" value="{{role.name}}">{{role.name}}</option>
                  </select>
                </div>

              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="w-100"> Password <small class="req">*</small></label>
                  <input type="password" class="form-control" id="password" required (change)="checkPassword()"
                         [ngModelOptions]="{standalone:true}" [(ngModel)]="user.password">
                  <span class="text-danger mt-1" *ngIf="!passwordPattern">Password must be of 8 characters</span>
                </div>
               
                <div class="col-md-6 mb-3">
                  <label class="w-100"> Confirm Password <small class="req">*</small></label>
                  <input type="password" class="form-control" id="password" required (change)="checkPassword()"
                         [ngModelOptions]="{standalone:true}" [(ngModel)]="user.confirmpassword">
                  <span class="text-danger mt-1" *ngIf="!passwordMatched">Password not matched</span>
                </div>
              
              </div>
            </div>
            <div class="btn-sm pr-4 mt-4 ml-2">
              <button class="btn btn-primary btn-sm p-2 text-center float-right" (click)="form.checkValidity()?save():null">
                Submit
              </button>
              <button class="btn btn-dark btn-sm p-2 text-center float-right mr-3" data-dismiss="modal" aria-label="Close">
                Close
              </button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>


