
<div class="container-fluid">

  <div class="row">
    <div class="col-7"> <h1 class="h3 mb-2 text-gray-800">Patient Management</h1></div>
    <div class="col-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <label type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#patientModal"(click)="patient={}">Add Patient</label>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-sm" id="dataTable" Width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Sl.No</th>
              <th>First Name</th>
              <th>Middle Name</th>
              <th>Last Name</th>
              <th>Gender</th>
              <th>Date Of Birth</th>
              <th>Blood Group</th>
              <th>Marital Status</th>
              <th>Phone Number</th>
              <th>Address</th>
              <th>Diagnosis</th>
              <th>Complaints</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="patients.length==0">
              <td colspan="12">No available data</td>
            </tr>
            <tr *ngFor="let _patient of patients| filter:search;let i=index ">
              <td>{{i+1}}</td>
              <td>{{_patient.firstname}}</td>
              <td>{{_patient.middlename}}</td>
              <td>{{_patient.lastname}}</td>
              <td>{{_patient.gender}}</td>
              <td>{{_patient.dob}}</td>
              <td>{{_patient.bloodgroup}}</td>
              <td>{{_patient.maritalstatus}}</td>
              <!--<td>{{_patient.maritalstatus}}</td>-->
              <td>{{_patient.phoneno}}</td>
              <td>{{_patient.address}}</td>
              <td>{{_patient.diagnosis}}</td>
              <td>{{_patient.complaints}}</td>
              <td>
                <label type="button" data-toggle="modal" data-target="#patientModal" (click)="edit(_patient)"><i class="fa fa-edit text-primary"></i></label>
                <span (click)="delete(_patient)"><i class="fa fa-trash ml-3 text-danger"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-add-patient></app-add-patient>
