<div class="container-fluid">

  <!-- Page Heading -->

  <div class="modal fade" id="inventorykModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{stock.id>0?'Edit':'Add'}} Stock</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <form #form ngNativeValidate>
            <div class="col-md-12">
              <div class="row">

                <!--<div class="col-md-4 mb-3">
                  <label class="w-100">Id <small class="required">*</small></label>
                  <input type="text" class="form-control" id="item" [ngModelOptions]="{standalone:true}" [(ngModel)]="stock.Id">
                </div>-->


                <div class="col-md-4 purple-border">
                  <label class="w-100">Name <small class="required">*</small></label>
                  <input type="text" class="form-control" id="stock" [ngModelOptions]="{standalone:true}" [(ngModel)]="stock.Name">

                </div>
                  <div class="col-md-4 mb-3">
                    <label class="w-100">Price <small class="required">*</small></label>
                    <input type="number" class="form-control" id="item" [ngModelOptions]="{standalone:true}" [(ngModel)]="stock.Price">
                  </div>

               
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <label class="w-100">Description  <small class="required">*</small></label>
                  <input type="text" class="form-control" id="supplier" [ngModelOptions]="{standalone:true}" [(ngModel)]="stock.Description">
                </div>


                <div class="col-md-4 mb-3">
                  <label class="w-100"> Category<small class="required">*</small></label>
                  <input type="text" class="form-control" id="item" [ngModelOptions]="{standalone:true}" [(ngModel)]="stock.Category">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="w-100">Supplier<small class="required">*</small></label>
                  <input type="text" class="form-control" id="supplier" [ngModelOptions]="{standalone:true}" [(ngModel)]="stock.Supplier">
                </div>

              </div>
            </div>
            <div class="col-md-12">
              <div class="row">

                <div class="col-md-4 mb-3">
                  <label class="w-100">Quantity<small class="required">*</small></label>
                  <input type="number" class="form-control" id="quantity" [ngModelOptions]="{standalone:true}" [(ngModel)]="stock.Quantity">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="w-100">Purchase Date <small class="required">*</small></label>
                  <input type="date" class="form-control" id="purchaseDate" [ngModelOptions]="{standalone:true}" [(ngModel)]="stock.purchaseDate"[max]="today">
                </div >


                <div class="col-md-4 mb-3">
                  <label class="w-100">Status <small class="required">*</small></label>
                  <select class="form-control" id="status" [ngModelOptions]="{standalone:true}" [(ngModel)]="stock.Status">
                    <option value="select"></option>
                    <option value="true">Available</option>
                    <option value="false">Unavailable</option>

                  </select>
                </div>
            </div>
              </div>
            <div class="btn-sm pr-4 mt-3">
              <button class="btn p-2 text-center btn-primary float-right" (click)="form.checkValidity()?savestock():null">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
