<div class="container-fluid">

  <div class="row">
    <div class="col-7"> <h1 class="h3 mb-2 text-gray-800">All Beds</h1></div>
    <div class="col-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="search">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search fa-sm"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <label type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#bedsModal" (click)="bed={}">Add bed</label>
    </div>
  </div>
  

  <div class="card shadow mb-4 mt-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-border" id="dataTable" Width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Sl. No</th>
              <!--<th>Id</th>-->
              <th>Bed Type </th>
              <!--<th>Number Of Beds </th>-->
              <th>Description</th>
              <th>Charges</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="beds.length==0">
              <td colspan="6">No available data</td>
            </tr>
            <tr *ngFor="let bed of beds| filter:search;let i=index ">
              <td>{{i+1}}</td>
              <!--<td>{{bed.id}}</td>-->
              <td>{{bed.name}}</td>
              <!--<td>{{bed.numberOfBed}}</td>-->
              <td>{{bed.description}}</td>
              <td>{{bed.charges}}</td>
              <td>{{bed.status}}</td>
              <td>
                <label type="button" data-toggle="modal" data-target="#bedsModal" (click)="edit(bed)"><i class="fa fa-edit text-primary"></i></label>
                <span (click)="delete(bed)"><i class="fa fa-trash ml-3 text-danger"></i></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-create-bed [beds]="bed"></app-create-bed>
